# Ignore specific files
config/production/portal-config.properties
log4j.properties
gradle.properties
.DS_Store
tomcat.log

*.jar
*.war
*.class
*.classpath
*.project

target/
build/
bin/
.settings/
.gradle/
